.About h1{
    color: white;
}
.About{
    display:flex;
    justify-content: center;
    flex: 1;
}
.About{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btnAbout{
    display: flex;
    justify-content: space-around;
}
.header{
    display: flex;
    flex-direction: row;
    margin: 50px auto;
    margin-bottom: 0px;
}
.btn{
    width: 10%;
    height: 50px;
}
em {
    font-family: Raleway;
    font-style: normal;
    font-size: 15px;
}